@import mixins
@import body

header
	position: relative
	display: block
	margin: 0 !important
	padding: 0 !important
	height: 100vh
	background:
		image: url('../assets/bg-header.jpg')
		size: cover
		position: center
	+breakpoint($tablet)
		background:
			position: 25%
	.navbar-menu
		min-height: 6.25rem
		border-bottom: 3px solid $pq-color1
		box-shadow: 0px 4px 4px rgba(51,51,51,0.3)
		background-color: $bgMenu
		.navbar-nav
			+breakpoint($tablet)
				padding-top: 3rem
			.nav-item
				padding: .5rem 1rem
				&:nth-child(5)
					padding-right: 0
				.nav-link
					padding: 0 !important
					height: 2rem !important	
					&:hover
						border-bottom: 1.45px solid $pq-color1
						+transition(.3s)
	.abertura
		display: block
		position: relative
		top: 0
		left: 0
		width: 100%
		margin: 0
		padding: 0
		color: $pq-color3
		+breakpoint($celular)
			height: 100%
			display: flex
			flex-direction: row
			flex-wrap: wrap
			align-items: center
		.conteudo-abertura
			position: absolute
			top: 0
			right: 0
			width: 45vw
			+breakpoint($desktop)
				width: 40vw			
			+breakpoint($tablet)
				width: 60vw
			+breakpoint($celular)
				position: relative
				padding-left: 2rem
				width: 100vw
			img
				width: 100%
				box-shadow: 0px 4px 4px rgba(51,51,51,0.3)
				object:
					fit: cover
					position: right
				+breakpoint($tablet)
					height: 40vh !important
				+breakpoint($celular)
					display: none
					margin: 0
					padding: 0
			h6
				margin-top: 2.875rem
				padding: 0
				font:
					style: normal
					size: 3.75rem
					weight: $f1-light
				line-height: 3.75rem
				+breakpoint($desktop)
					margin-top: 1.875rem
				+breakpoint($celular)
					margin-top: 0
					font:
						size: 2.75rem
					line-height: normal
				span
					font:
						style: normal
						weight: $f1-medium
			p
				font:
					style: normal
					size: 1.25
					weight: $f1-light
			a
				margin-top: 1.875rem
				padding: 0
				color: $pq-color3
				font:
					style: normal
					size: 1rem
					weight: $f1-regular
				text:
					decoration: none
				&:hover
					color: $pq-color1
					+transition(.3s)
					transform: scale(1.2)
				i
					padding-left: 1rem
main
	#o-parque
		padding-top: 5.625rem
		img
			height: 100%
			object:
				fit: cover
				position: center
		h3
			font:
				style: normal
				size: 2rem
				weight: $f1-regular
			text-transform: uppercase
			+breakpoint($celular)
				margin-top: 3rem
				font-size: 1.7rem
				br
					display: none
			span
				color: $pq-color1
				font-weight: $f1-medium
		p
			margin: 2.8125rem 0 0 0
			font:
				style: normal
				size: 1rem
				weight: $f1-regular
			text-align: justify
			+breakpoint($celular)
				margin-top: 1rem
		.row
			div:nth-child(2)
				display: flex
				flex-wrap: wrap
				align-items: center
	#diferencial
		padding-top: 9.375rem
		color: $pq-color3
		background:
			image: url("../assets/bg-diferencial.jpg")
			position: top
			size: 100%
			repeat: no-repeat
		+breakpoint($celular)
			background-size: 280%
		.row
			display: flex
			justify-content: center
			div
				&:nth-child(1)
					z-index: 2
					margin: auto -1rem
					width: 100%
					height: 100%
					padding: 2.625rem 4.875rem 
					background:
						color: $pq-color2
					box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.25)
					+breakpoint($tablet)
						margin: auto
						padding: 3rem 2rem
					h1
						margin-bottom: 0
						padding-bottom: 0
						font:
							style: normal
							size: 3rem
							weight: $f1-bold
						text-transform: uppercase
						+breakpoint($tablet)
							font-size: 2.5rem
						+breakpoint($celular)
							font-size: 2.125rem
					h2
						margin: 0
						color: $pq-color1
						font:
							style: normal
							size: 1.6875rem
							weight: $f1-medium
					p
						margin-top: 2rem
						margin-bottom: 0
						padding: 0
						font:
							style: normal
							size: 1rem
							weight: $f1-regular
						text-align: justify
				&:nth-child(2)
					padding: 0
					margin: auto -1rem
					box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.25)
					+breakpoint($tablet)
						z-index: 1
						margin: auto
					img
						height: 36rem
						object:
							fit: cover
							position: center
						+breakpoint($celular)
							height: 18rem
	#video
		padding: 4rem 0
		.row
			div[class^="col"]
				&:nth-child(1)
					margin: auto
					height: 100%
					iframe
						width: 100%
						height: 23.75rem
						+breakpoint($celular)
							height: 15rem
				&:nth-child(2)
					padding: 2rem 5rem
					background: -webkit-linear-gradient(linear, left top, left bottom, from(#F4F4F4), to (rgba(244,244,244,0)))
					background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%)
					+breakpoint($tablet)
						padding: 2rem 1rem 0 1rem
					h6
						color: $pq-color1
						font:
							style: normal
							size: 1.375rem
							weight: $f1-regular
						text-transform: uppercase
					p
						font:
							style: normal
							size: 1rem
							weight: $f1-light
						text-align: justify
					form
						.form-group
							width: 100% !important
							+placeholderColor($pq-color4, .875em, $f1-light)
							input, textarea
								background: none
								border-color: $pq-color4
						button
							display: flex
							justify-content: center
							margin: 2.5rem auto 0 auto
							padding: .5rem 4.5rem
							color: $pq-color3
							background:
								color: $pq-color1
							text-align: center
							box-shadow: 4px 4px 4px rgba(51, 51, 51, 0.15)
							&:hover
								background:
									color: darken($pq-color1, 8%)
								+transition(.3s)
	#img-galeria
		img
			width: 100% !important
			height: auto
	#galeria
		padding: 3.125rem 0
		h2
			font:
				style: normal
				size: 2rem
				weight: $f1-regular
			text:
				align: center
				transform: uppercase
		p
			margin-top: .875rem
			color: $pq-color1
			font:
				style: normal
				size: 1.125rem
				weight: $f1-medium
			text:
				align: center
		.galeria-mansory
			display: grid
			grid-template-columns: repeat(4, 1fr)
			grid-template-rows: repeat(3, 300px)
			grid-gap: 10px
			+breakpoint($celular)
				display: flex
				flex-wrap: wrap
	#servicos
		.coluna-6
			display: flex
			flex-wrap: wrap
			margin: 0
			padding: 0
			width: 50%
			+breakpoint($celular)
				width: 100%
				height: 100%
		.destaque-servicos
			display: flex
			flex-wrap: wrap
			margin: 0
			div[class^="coluna"]
				width: 50%
				+breakpoint($celular)
					width: 100%
					height: 100%
				&:nth-child(1)
					background:
						color: #F4F4F4
					.content-servicos
						display: flex
						flex-direction: column
						justify-content: center
						height: 100%
						padding: 2rem 6.25rem
						+breakpoint($tablet)
							padding: 2rem
						h3
							font:
								style: normal
								size: 2rem
								weight: $f1-regular
							+breakpoint($celular)
								text-align: center
							span
								color: $pq-color1
								font:
									weight: $f1-medium
						p
							margin: 2rem 0 0 0
							padding: 0
							font:
								style: normal
								size: 1.125rem
								weight: $f1-regular
							text-align: justify
				&:nth-child(2)
					.grid-layout
						display: grid
						grid-template-columns: repeat(4,1fr)
						grid-template-rows: repeat(2, 140px)
						grid-gap: 10px
						margin: auto
						padding: 4rem 5rem
						height: 100%
						background:
							color: #151314
						color: $pq-color3
						+breakpoint($tablet)
							padding: 4rem 1rem
							grid-template-columns: repeat(2, 1fr)
							grid-template-rows: repeat(4, 130px)
						.vetores
							width: 100% !important
							height: 100% !important
							display: flex
							flex-direction: column
							justify-content: center
							align-items: center
							+breakpoint($tablet)
								width: 50%
							img
								padding: 0 !important
							h4
								width: 100%
								margin: .625rem 0 0 0
								padding: 0
								font:
									style: normal
									size: 1rem
									weight: $f1-regular
								text-align: center
								line-height: 1rem
		.quadra-tenis
			display: flex
			flex-wrap: wrap
			margin: 0
			padding: 0
			div[class^="coluna-6"]
				&:nth-child(1)
					display: flex
					align-items: center
					order: 1
					background: 
						color: #151314
					color: $pq-color3
					+breakpoint($celular)
						order: 2
					.conteudo
						margin: auto
						padding: 3rem 6.25rem
						+breakpoint($desktop)
							padding: 3rem 3.125rem
						+breakpoint($celular)
							padding: 3rem 1rem
						span
							color: $pq-color1
							font-weight: $f1-bold
						h3
							margin: 0
							padding: 0
							font:
								style: normal
								size: 2rem
								weight: $f1-regular
							text:
								align: justify
								transform: uppercase
							+breakpoint($tablet)
								text-align: left
						p
							margin: 2.625rem 0 0 0
							padding: 0
							font:
								style: normal
								size: 1rem
								weight: $f1-regular
							text:
								align: justify 
				&:nth-child(2)
					order: 2
					+breakpoint($celular)
						order: 1
						height: 16rem
					img
						width: 100%
						height: 100%
						object:
							fit: cover
							position: center
