body {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 400;
  font-family: "Roboto", sans-serif !important;
  color: #333333 !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media (max-width: 576px) {
  body {
    font-size: 14px !important;
    width: 100% !important;
  }
}

header {
  position: relative;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  background-image: url("../assets/bg-header.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  header {
    background-position: 25%;
  }
}
header .navbar-menu {
  min-height: 6.25rem;
  border-bottom: 3px solid #468240;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.3);
  background-color: #E4E4E4;
}
@media (max-width: 768px) {
  header .navbar-menu .navbar-nav {
    padding-top: 3rem;
  }
}
header .navbar-menu .navbar-nav .nav-item {
  padding: 0.5rem 1rem;
}
header .navbar-menu .navbar-nav .nav-item:nth-child(5) {
  padding-right: 0;
}
header .navbar-menu .navbar-nav .nav-item .nav-link {
  padding: 0 !important;
  height: 2rem !important;
}
header .navbar-menu .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 1.45px solid #468240;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header .abertura {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}
@media (max-width: 576px) {
  header .abertura {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
header .abertura .conteudo-abertura {
  position: absolute;
  top: 0;
  right: 0;
  width: 45vw;
}
@media (max-width: 1366px) {
  header .abertura .conteudo-abertura {
    width: 40vw;
  }
}
@media (max-width: 768px) {
  header .abertura .conteudo-abertura {
    width: 60vw;
  }
}
@media (max-width: 576px) {
  header .abertura .conteudo-abertura {
    position: relative;
    padding-left: 2rem;
    width: 100vw;
  }
}
header .abertura .conteudo-abertura img {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.3);
  object-fit: cover;
  object-position: right;
}
@media (max-width: 768px) {
  header .abertura .conteudo-abertura img {
    height: 40vh !important;
  }
}
@media (max-width: 576px) {
  header .abertura .conteudo-abertura img {
    display: none;
    margin: 0;
    padding: 0;
  }
}
header .abertura .conteudo-abertura h6 {
  margin-top: 2.875rem;
  padding: 0;
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
}
@media (max-width: 1366px) {
  header .abertura .conteudo-abertura h6 {
    margin-top: 1.875rem;
  }
}
@media (max-width: 576px) {
  header .abertura .conteudo-abertura h6 {
    margin-top: 0;
    font-size: 2.75rem;
    line-height: normal;
  }
}
header .abertura .conteudo-abertura h6 span {
  font-style: normal;
  font-weight: 500;
}
header .abertura .conteudo-abertura p {
  font-style: normal;
  font-size: 1.25;
  font-weight: 300;
}
header .abertura .conteudo-abertura a {
  margin-top: 1.875rem;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
header .abertura .conteudo-abertura a:hover {
  color: #468240;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  transform: scale(1.2);
}
header .abertura .conteudo-abertura a i {
  padding-left: 1rem;
}

main #o-parque {
  padding-top: 5.625rem;
}
main #o-parque img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main #o-parque h3 {
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  main #o-parque h3 {
    margin-top: 3rem;
    font-size: 1.7rem;
  }
  main #o-parque h3 br {
    display: none;
  }
}
main #o-parque h3 span {
  color: #468240;
  font-weight: 500;
}
main #o-parque p {
  margin: 2.8125rem 0 0 0;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
@media (max-width: 576px) {
  main #o-parque p {
    margin-top: 1rem;
  }
}
main #o-parque .row div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main #diferencial {
  padding-top: 9.375rem;
  color: #fff;
  background-image: url("../assets/bg-diferencial.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  main #diferencial {
    background-size: 280%;
  }
}
main #diferencial .row {
  display: flex;
  justify-content: center;
}
main #diferencial .row div:nth-child(1) {
  z-index: 2;
  margin: auto -1rem;
  width: 100%;
  height: 100%;
  padding: 2.625rem 4.875rem;
  background-color: #333333;
  box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.25);
}
@media (max-width: 768px) {
  main #diferencial .row div:nth-child(1) {
    margin: auto;
    padding: 3rem 2rem;
  }
}
main #diferencial .row div:nth-child(1) h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-style: normal;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  main #diferencial .row div:nth-child(1) h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  main #diferencial .row div:nth-child(1) h1 {
    font-size: 2.125rem;
  }
}
main #diferencial .row div:nth-child(1) h2 {
  margin: 0;
  color: #468240;
  font-style: normal;
  font-size: 1.6875rem;
  font-weight: 500;
}
main #diferencial .row div:nth-child(1) p {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}
main #diferencial .row div:nth-child(2) {
  padding: 0;
  margin: auto -1rem;
  box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.25);
}
@media (max-width: 768px) {
  main #diferencial .row div:nth-child(2) {
    z-index: 1;
    margin: auto;
  }
}
main #diferencial .row div:nth-child(2) img {
  height: 36rem;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 576px) {
  main #diferencial .row div:nth-child(2) img {
    height: 18rem;
  }
}
main #video {
  padding: 4rem 0;
}
main #video .row div[class^=col]:nth-child(1) {
  margin: auto;
  height: 100%;
}
main #video .row div[class^=col]:nth-child(1) iframe {
  width: 100%;
  height: 23.75rem;
}
@media (max-width: 576px) {
  main #video .row div[class^=col]:nth-child(1) iframe {
    height: 15rem;
  }
}
main #video .row div[class^=col]:nth-child(2) {
  padding: 2rem 5rem;
  background: -webkit-linear-gradient(linear, left top, left bottom, from(#F4F4F4), to rgba(244, 244, 244, 0));
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
}
@media (max-width: 768px) {
  main #video .row div[class^=col]:nth-child(2) {
    padding: 2rem 1rem 0 1rem;
  }
}
main #video .row div[class^=col]:nth-child(2) h6 {
  color: #468240;
  font-style: normal;
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
main #video .row div[class^=col]:nth-child(2) p {
  font-style: normal;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}
main #video .row div[class^=col]:nth-child(2) form .form-group {
  width: 100% !important;
}
main #video .row div[class^=col]:nth-child(2) form .form-group input::placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group input::-webkit-input-placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group input::-ms-input-placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group input::-ms-input-placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group textarea::placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group textarea::-webkit-input-placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group textarea::-ms-input-placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group textarea::-ms-input-placeholder {
  color: #A5978F;
  font-size: 0.875em;
  font-weight: 300;
}
main #video .row div[class^=col]:nth-child(2) form .form-group input, main #video .row div[class^=col]:nth-child(2) form .form-group textarea {
  background: none;
  border-color: #A5978F;
}
main #video .row div[class^=col]:nth-child(2) form button {
  display: flex;
  justify-content: center;
  margin: 2.5rem auto 0 auto;
  padding: 0.5rem 4.5rem;
  color: #fff;
  background-color: #468240;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(51, 51, 51, 0.15);
}
main #video .row div[class^=col]:nth-child(2) form button:hover {
  background-color: #376733;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*# sourceMappingURL=main.css.map */
